<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Spring AI</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
  <link href="/css/springai.css" rel="stylesheet" />
  <script src="/js/springai.js"></script>
  <script>
    // ##### 도큐먼트 로드 이벤트 핸들러 설정 #####
    document.addEventListener("DOMContentLoaded", () => {
      springai.vision.initCanvas("generatedImage", "maskCanvas");
    });

    // ##### 원본 이미지 파일을 미리보여주는 함수 #####
    function previewImage() {
      springai.vision.previewImage2("file", "generatedImage");
    }

    // ##### 이미지 생성 / 편집 요청 핸들러 함수 #####
    async function handleSubmit() {
      // 각 엘리먼트 참조를 얻음
      const originalImage = document.getElementById("generatedImage");
      const newCheckBox = document.getElementById("new");
      const editCheckBox = document.getElementById("edit");
      const description = document.getElementById("description");

      // 멀티파트 구성하는 FormData 생성
      const formData = new FormData();

      // 요청 URL을 저장할 변수 선언
      let url = null;

      // 새로운 이미지를 생성할 경우
      if (newCheckBox.checked) {
        // 생성할 이미지 설명 존재 확인
        if (!description.value) {
          alert("생성할 이미지 설명을 해야합니다.");
          return
        }
        // 요청 경로 설정
        url = "/ai/image-generate";

        // 생성할 내용을 기술한 텍스트를 멀티파트 폼에 추가 
        formData.append("description", description.value);
      }

      // 원본 이미지를 편집할 경우
      if (editCheckBox.checked) {
        // 편집할 원본 이미지가 존재하는지 확인
        if (originalImage.src.includes("assistant.png")) {
          alert("원본 이미지가 없습니다.");
          return;
        }

        // 마스크 투명 영역 존재 확인
        if (!springai.vision.existTransparentArea()) {
          alert("마스크 투명 영역이 없습니다.");
          return;
        }

        // 편집할 이미지 설명 존재 확인
        if (!description.value) {
          alert("편집할 이미지 설명을 해야합니다.");
          return
        }

        // 요청 경로 설정
        url = "/ai/image-edit";

        // 편집할 내용을 기술한 텍스트를 멀티파트 폼에 추가
        formData.append("description", description.value);

        // 원본 이미지와 마스크 이미지를 멀티파트 폼에 추가
        const originalBlob = springai.vision.getOriginalBlob("generatedImage", "file");
        formData.append("originalImage", originalBlob);
        const maskBlob = await springai.vision.getMaskBlob("maskCanvas");        
        formData.append("maskImage", maskBlob);

        // 마스크 이미지 다운로드
        //springai.vision.downloadMaskImage(maskBlob);
      }

      try {
        // 응답이 올 때까지 스피너 보여주기
        springai.setSpinner("spinner", true);

        // 요청하기
        const res = await fetch(url, { 
          method: "POST", 
          headers: {
            //Content-Type은 자동 생성되는 것을 사용해야 함(구분선 포함)
            'Accept': 'text/plain' //Base64로 인코딩된 이미지 문자열
          },
          body: formData 
        });
        // 응답에서 base64 이미지 문자열 얻기
        const b64Json = await res.text();
        if (!b64Json.includes("Error")) {
          // <img>에서 생성된(편집된) 이미지 보여주기
          const base64Src = "data:image/png;base64," + b64Json;
          originalImage.src = base64Src;
          // 생성된(편집된) 이미지 다운로드 하기
          springai.vision.downloadBase64Image(base64Src, "output-"+new Date().getTime()+".png");
        } else {
          alert(b64Json);
        }
      } catch(error) {
        console.log(error);
      } finally {
        // 스피너 숨기기
        springai.setSpinner("spinner", false);
      }

      // 기존 마스크 투명 영역 지우기
      springai.vision.clearTransparentArea();
    }
  </script>
</head>

<body>
  <div class="d-flex flex-column vh-100">
    <!-- 로고 패널 -->
    <nav class="navbar justify-content-between">
      <a href="/" class="navbar-brand ps-2">
        <img src="/image/spring_ai_logo_with_text.svg" width="200"/>
      </a>
      <div id="spinner" class="spinner-border text-success d-none me-3" role="status" >
        <span class="visually-hidden">Loading...</span>
      </div>
    </nav>

    <!-- 이미지 패널 -->
    <div id="imagePanel" class="flex-grow-1 container-fluid my-2 d-flex 
        justify-content-center align-items-center overflow-auto">
      <div class="overlay-container">
        <img id="generatedImage" src="/image/assistant.png" class="img-fluid" alt="Generated Image" />
        <canvas id="maskCanvas"></canvas>
      </div>
    </div>

    <!-- 입력 패널 -->
    <div class="bg-secondary-subtle">
      <div class="input-group p-2 align-items-center">
        <span class="input-group-text bg-info me-2">이미지 작업</span>
        <div class="form-check form-check-inline mb-0">
          <input id="new" class="form-check-input" type="radio" name="inlineRadioOptions" checked />
          <label class="form-check-label" for="new">이미지 생성</label>
        </div>
        <div class="form-check form-check-inline mb-0">
          <input id="edit" class="form-check-input" type="radio" name="inlineRadioOptions" />
          <label class="form-check-label" for="edit">이미지 편집</label>
        </div>
      </div>
      <div class="input-group p-2">
        <span class="input-group-text bg-info me-2">원본 이미지</span>
        <input id="file" type="file" class="form-control" onchange="previewImage()" />
      </div>
      <div class="input-group p-2">
        <span class="input-group-text">이미지<br>설명</span>
        <textarea id="description" class="form-control" style="height: 200px;"></textarea>
        <span class="input-group-text">
          <button type="button" class="btn btn-primary" onclick="handleSubmit()">제출</button>
        </span>
      </div>
    </div>
  </div>
</body>

</html>